[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
django = "*"
"psycopg2-binary" = "*"

aioworkers = "*"
aioworkers-aiohttp = "*"
aiohttp-wsgi = "*"
aioworkers-redis = "*"
asyncpgsa = "*"
dvhb-hybrid = {git = "https://github.com/dvhb/dvhb-hybrid", ref = "d7e63a4"}

raven-aiohttp = "*"

[dev-packages]
pytest = "*"
pytest-aiohttp = "*"
pytest-django = "*"
pytest-pep8 = "*"
pytest-flake8 = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-env = "*"
